/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body 
{
    background-color: #000000;
    font-family: Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
/* Div que encuadra la pagina*/
/*#Encuadre_de_la_Pagina 
{
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url("../img/imagen_encuadre.png");
}*/
/*Div del titulo*/
.div_titulo_login 
{
    float: left;
    width: 900px;
    height: 80px;
    background-image: url("../img/imagen_titulo.png");
}
/*Estilo del Titulo de la pagina de Usuarios*/
#texto_titulo_usuarios
{   color: white;
    float: left;
    width: 300px;
    height: 70px;
    margin-left: 300px;
    text-align: center;
    /*border-style: solid;
    border-color: yellow;*/
}
/* Estilo del Subtitulo*/
#texto_subtitulo_usuarios
{
    float: left;
    width: 600px;
    height: 50px;
    /*border-style: solid;
    border-color: yellow;*/
    margin-top: -40px;
    margin-left: 230px;
}   
/* Estilo etiqueta H3*/
h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
/*Estilo del contenedor superior de la botonera*/
.contenedor_botonera_deUsuarios
{
    float: left;
    width: 170px;
    height: 510px;
    margin-left: 5px;
   /* border-style: solid;
    border-color: yellow;*/
}
/*Estilo para la botonera*/
.cuadro_botonera
{
    float: left;
    width: 160px;
    height: 200px;
    /*border-style: solid;
    border-color: yellow;*/
    margin-top: 50px;
}
/*INICIO ESTILO ITEMS DE LA BOTONERA :::::::::::::::::::::::::::::::::::::::::*/
/*ESTILO BOTON DE NUEVO USUARIO*/
input[type=button] {
    width: 160px;
    height:35px;
    color: white;
    font-weight: bold;
    background-color: #332859;
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:100%;
    cursor:pointer;
}
input[type=button]:hover {
    background-color:#6B00FF;
}/*FIN ESTILO ITEMS DE LA BOTONERA :::::::::::::::::::::::::::::::::::::::::*/


/*Estilo del div para la Ficha de Usuarios donde se visualizan los datos de los usuarios*/
.ficha_deUsuarios
{
    float: left;
    width: 600px;
    height: 420px;
    /*border-style: solid;
    border-color: yellow;*/
    //margin-top: 60px;
    //margin-left: 20px;
    background-image: url("../img/imagen_login.png");
    overflow: auto;
}
.legajo_usuario
{
    float: left;
    margin-right: 150px;
    width: 300px;
    height: 20px;
    margin-top: 25px;
    /*border-style: solid;
    border-color: yellow;*/
    color: white;
    text-decoration-style:solid;
}
.input_legajo
{
    float: left;
    width: 50px;
    height: 30px;
    text-decoration-style:solid;
    /*border-color: yellow;*/
    margin-left: 25px;
}
.texto_legajo
{
    float: left;
    width: 50px;
    height: 30px;
    text-decoration-style:solid;
    border-color: #253D73;
    margin-left: 20px;
}

/*INICIO SECCION DATOS DEL USUARIO ::::::::::::::::::::::::::::::::::*/
.datos_usuario
{
    float: left;
    width: 350px;
    height: 370px;
   /* border-style: solid;
    border-color: #253D73;*/   
}
.usuarios_textos
{
    float: left;
    width: 80px;
    height: 150px;
   /* border-style: solid;
    border-color: #253D73;*/
    margin-top: 160px;
    margin-left: 50px;
    color: white;
}
.input_datos
{
    float: left;
    width: 155px;
    height: 179px;
    border-style: solid;
    border-color: #253D73;
    //border-color: yellow;
    margin-top: 24px;
    margin-left: 55px;
}/*FIN SECCION DATOS DEL USUARIO :::::::::::::::::::::::::::::::::::::::*/

/*INICIO SECCION DE AGREGAR IMAGEN DEL LEGAJO::::::::::::::::*/
.foto_usuario
{
    float: left;
    width: 90px;
    height: 90px;
    border-style: solid;
    border-color: #253D73;
    margin-left: 120px;
    margin-top: 10px;
}
.boton_agregar_imagen
{
    float: left;
    width: 100px;
    height:10px;
    //border-style: solid;
    //border-color: yellow;
    margin-left: 119px;
    margin-top: 2px;
}
.estilo_botonfoto
{
  width: 50px;
  height: 15px;
  font-size: 10px;
}/*FIN ESTILO BOTON PARA AÑADIR FOTO:::::::::::::::::::::::::::*/

/*INICIO SECCION ASIGNACIONES*/
.asignaciones_usuario
{
   float: left;
   width: 200px;
   height: 300px;
   border-style: solid;
   border-color: #253D73;
   margin-left: 20px;
   margin-top: 10px;
}
.titulo_asignaciones
{
   float: left;
   width: 199px;
   margin-left: -2px;
   height: 20px;
   border-style: solid;
   background-color: white;
   background-image: url("../img/usuarios_asignaciones.png");
   background-repeat: no-repeat;
   background-position: center;
}/*FIN SECCION ASIGNACIONES*/

#opciones_busqueda_legajo
{
    float: left;
    width: 600px;
    height: 50px;
    //border-style: solid;
    //border-color: yellow;
    margin-left: 20px;
    margin-top: 10px;
}