/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-oct-2016, 10:42:23
    Author     : Actaeon
*/

/** {
    margin: 0;
    padding: 0;
}*/

Contenedor_de_solapas
{
    float: left;
    width: 800px;
    height: 1200px;
    border-style: solid;
    border-color: yellow;
    margin-top: 200px;
}

#contenedor_ver_usuarios
{
    width: 600px;
    height: 200px;
    overflow: auto;
    border-style: solid;
    border-color: yellow;
}

h3{
  text-transform: uppercase;
  font-weight: normal;
}
h4{
  font-weight: normal;
  text-align: center;
}
.tabs{
    width: 600px;
    display: block;
    margin: 40px auto;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #4A83FD;
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 600px;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: #303030;
    color: #DFDFDF;
    
    opacity:0;
    transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #303030;
    color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
   
    opacity: 1;
    transition: opacity 400ms ease-out;
}