/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body 
{
    background-color: #000000;
    font-family: Arial, sans-serif;
}
/* Div que encuadra la pagina*/
#Encuadre_de_la_Pagina 
{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url("../img/imagen_encuadre.png");
}
/*Div del titulo*/
.div_titulo_login 
{

    float: left;
    width: 800px;
    height: 80px;
    background-image: url("../img/imagen_titulo.png");
}
#texto_titulo
{   color: white;
    float: left;
    width: 400px;
    height: 80px;
    margin-left: 200px;
}

#texto_titulo_usuarios
{   color: white;
    float: left;
    width: 300px;
    height: 70px;
    margin-left: 250px;
    text-align: center;
    /*border-style: solid;
    border-color: yellow;*/
}
#texto_subtitulo_usuarios
{
    float: left;
    width: 600px;
    height: 100px;
    /*border-style: solid;
    border-color: purple;*/
    margin-top: -40px;
    margin-left: 180px;
}   
.formulario {
    float: left;
    display: block;
    width: 400px;
    padding: 50px;
    background-image: url("../img/imagen_login.png");
    margin-top: 70px;
    margin-left: 150px;
}
.Cuadro_Login
{
    padding: 0px;
    float:left;
    margin-top: -20px;
    margin-left: 175px;
}
h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 20px;
    float:left;
}

.inputTexto {
    border-style: none;
    width: 180px;
}

.etiqueta {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    color: white;
    font-weight: bold;
}
textarea {
    resize: vertical;
}

.campoBotones {
    margin-top: 50px;
    margin-left: 150px;
}

.inputBoton {
    border-style: none;
    border-radius: 5px;
    background-color: #16499A;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.mensaje_valido {
    background-color: #008A00;
    color: whitesmoke;
    width: 365px;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 5px;
}
.mensaje_invalido {
    background-color: #AC193D;
    color: white;
    width: 365px;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 5px;
}





